@import 'bootstrap';
@import 'variables';
@import 'mixins';
@import 'functions';
@import 'fonts';
@import 'overrides';
@import 'module';
@import 'users';
@import 'messages';

.btn-primary {
  width: 100%;
}

.form-control {
  margin: 0 0 20px;
}

body {
  color: #555;
}